.main-box{
    border-radius: 10px;
    border: 5px outset red;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    margin: 30px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.down{
    border-radius: 5px;
}
.head{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}